[submodule "bundle/snipmate.git"]
	path = bundle/snipmate.git
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate-snippets.git"]
	path = bundle/snipmate-snippets.git
	url = http://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/Command-T.git"]
	path = bundle/Command-T.git
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/unimpaired.git"]
	path = bundle/unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized.git"]
	path = bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter.git"]
	path = bundle/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/vim-coffee-script.git"]
	path = bundle/vim-coffee-script.git
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-markdown.git"]
	path = bundle/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/paredit.vim"]
	path = bundle/paredit.vim
	url = https://github.com/emezeske/paredit.vim.git
