[submodule "bundle/snipmate.git"]
	path = bundle/snipmate.git
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate-snippets.git"]
	path = bundle/snipmate-snippets.git
	url = http://github.com/mikem/snipmate-snippets.git
[submodule "bundle/Command-T.git"]
	path = bundle/Command-T.git
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/unimpaired.git"]
	path = bundle/unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
